# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.sublime-project
*.sublime-workspace
.idea/
.vscode/

# Data files (optional: if you don't want to push large data)
*.csv
*.json

# Logs
*.log

# Environments
*.env
